.galaxy-wrapper * {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 50%;
}
.hero-galaxy-container {
  min-height: 200px;
  display: grid;
}
.galaxy-wrapper {
  transform: translate(0px, 0px);
}

.galaxy:nth-child(1) {
  transform: translateX(-20px) scale(-1, 1);
}

.galaxy:nth-child(2) {
  transform: translateX(20px) scale(1, -1);
}

.stars {
  width: 200px;
  height: 200px;
}

.circle {
  animation: 7.2s galaxy cubic-bezier(0.4, 0, 0.2, 1) infinite reverse;
}

.dot {
  width: 20px;
  height: 20px;
  border: 5px dotted #fff;
}


.galaxy-wrapper {
  transform: translate(0px, 0px) scale(0.72);
}
@media screen and (max-width: 1200px) {
  .galaxy-wrapper { transform: translate(0px, 0px) scale(0.5); }
}
@media screen and (max-width: 1024px) {
  .galaxy-wrapper { transform: translate(0px, 0px) scale(0.52); }
}
@media screen and (max-width: 768px) {
  .galaxy-wrapper { transform: translate(0px, 0px) scale(0.55); }
}
@media screen and (max-width: 430px) {
  .galaxy-wrapper { transform: translate(0px, 0px) scale(0.48); }
}
@media screen and (max-width: 356px) {
  .galaxy-wrapper { transform: translate(0px, 0px) scale(0.38); }
}


















@keyframes galaxy {
  100% {
    transform: rotate(360deg);
  }
}
/* Dot transformations (35 dots) */
.dot:nth-child(1) {
  transform: rotate(0deg) translate(120px) scale(1);
  border-color: hsla(300, 100%, 50%, 1);
}
.dot:nth-child(2) {
  transform: rotate(10.28deg) translate(120px) scale(0.97);
  border-color: hsla(298, 100%, 50%, 1);
}
.dot:nth-child(3) {
  transform: rotate(20.57deg) translate(120px) scale(0.94);
  border-color: hsla(295, 100%, 50%, 1);
}
.dot:nth-child(4) {
  transform: rotate(30.85deg) translate(120px) scale(0.91);
  border-color: hsla(293, 100%, 50%, 1);
}
.dot:nth-child(5) {
  transform: rotate(41.14deg) translate(120px) scale(0.88);
  border-color: hsla(290, 100%, 50%, 1);
}
.dot:nth-child(6) {
  transform: rotate(51.42deg) translate(120px) scale(0.85);
  border-color: hsla(288, 100%, 50%, 1);
}
.dot:nth-child(7) {
  transform: rotate(61.71deg) translate(120px) scale(0.82);
  border-color: hsla(285, 100%, 50%, 1);
}
.dot:nth-child(8) {
  transform: rotate(71.99deg) translate(120px) scale(0.79);
  border-color: hsla(283, 100%, 50%, 1);
}
.dot:nth-child(9) {
  transform: rotate(82.28deg) translate(120px) scale(0.76);
  border-color: hsla(280, 100%, 50%, 1);
}
.dot:nth-child(10) {
  transform: rotate(92.56deg) translate(120px) scale(0.73);
  border-color: hsla(278, 100%, 50%, 1);
}
.dot:nth-child(11) {
  transform: rotate(102.85deg) translate(120px) scale(0.7);
  border-color: hsla(275, 100%, 50%, 1);
}
.dot:nth-child(12) {
  transform: rotate(113.13deg) translate(120px) scale(0.67);
  border-color: hsla(273, 100%, 50%, 1);
}
.dot:nth-child(13) {
  transform: rotate(123.42deg) translate(120px) scale(0.64);
  border-color: hsla(270, 100%, 50%, 1);
}
.dot:nth-child(14) {
  transform: rotate(133.7deg) translate(120px) scale(0.61);
  border-color: hsla(268, 100%, 50%, 1);
}
.dot:nth-child(15) {
  transform: rotate(143.99deg) translate(120px) scale(0.58);
  border-color: hsla(265, 100%, 50%, 1);
}
.dot:nth-child(16) {
  transform: rotate(154.27deg) translate(120px) scale(0.55);
  border-color: hsla(263, 100%, 50%, 1);
}
.dot:nth-child(17) {
  transform: rotate(164.56deg) translate(120px) scale(0.52);
  border-color: hsla(260, 100%, 50%, 1);
}
.dot:nth-child(18) {
  transform: rotate(174.84deg) translate(120px) scale(0.49);
  border-color: hsla(258, 100%, 50%, 1);
}
.dot:nth-child(19) {
  transform: rotate(185.13deg) translate(120px) scale(0.46);
  border-color: hsla(255, 100%, 50%, 1);
}
.dot:nth-child(20) {
  transform: rotate(195.41deg) translate(120px) scale(0.43);
  border-color: hsla(253, 100%, 50%, 1);
}
.dot:nth-child(21) {
  transform: rotate(205.7deg) translate(120px) scale(0.4);
  border-color: hsla(250, 100%, 50%, 1);
}
.dot:nth-child(22) {
  transform: rotate(215.98deg) translate(120px) scale(0.37);
  border-color: hsla(248, 100%, 50%, 1);
}
.dot:nth-child(23) {
  transform: rotate(226.27deg) translate(120px) scale(0.34);
  border-color: hsla(245, 100%, 50%, 1);
}
.dot:nth-child(24) {
  transform: rotate(236.55deg) translate(120px) scale(0.31);
  border-color: hsla(243, 100%, 50%, 1);
}
.dot:nth-child(25) {
  transform: rotate(246.84deg) translate(120px) scale(0.28);
  border-color: hsla(240, 100%, 50%, 1);
}
.dot:nth-child(26) {
  transform: rotate(257.12deg) translate(120px) scale(0.25);
  border-color: hsla(238, 100%, 50%, 1);
}
.dot:nth-child(27) {
  transform: rotate(267.41deg) translate(120px) scale(0.22);
  border-color: hsla(235, 100%, 50%, 1);
}
.dot:nth-child(28) {
  transform: rotate(277.69deg) translate(120px) scale(0.19);
  border-color: hsla(233, 100%, 50%, 1);
}
.dot:nth-child(29) {
  transform: rotate(287.98deg) translate(120px) scale(0.16);
  border-color: hsla(230, 100%, 50%, 1);
}
.dot:nth-child(30) {
  transform: rotate(298.26deg) translate(120px) scale(0.13);
  border-color: hsla(228, 100%, 50%, 1);
}
.dot:nth-child(31) {
  transform: rotate(308.55deg) translate(120px) scale(0.1);
  border-color: hsla(225, 100%, 50%, 1);
}
.dot:nth-child(32) {
  transform: rotate(318.83deg) translate(120px) scale(0.07);
  border-color: hsla(223, 100%, 50%, 1);
}
.dot:nth-child(33) {
  transform: rotate(329.12deg) translate(120px) scale(0.04);
  border-color: hsla(220, 100%, 50%, 1);
}
.dot:nth-child(34) {
  transform: rotate(339.4deg) translate(120px) scale(0.01);
  border-color: hsla(218, 100%, 50%, 1);
}
.dot:nth-child(35) {
  transform: rotate(349.69deg) translate(120px) scale(0.01);
  border-color: hsla(215, 100%, 50%, 1);
}

/* Star transformations (20 stars) */
.stars:nth-child(1) {
  transform: rotate(0deg) translate(80px);
}
.stars:nth-child(2) {
  transform: rotate(18deg) translate(80px);
}
.stars:nth-child(3) {
  transform: rotate(36deg) translate(80px);
}
.stars:nth-child(4) {
  transform: rotate(54deg) translate(80px);
}
.stars:nth-child(5) {
  transform: rotate(72deg) translate(80px);
}
.stars:nth-child(6) {
  transform: rotate(90deg) translate(80px);
}
.stars:nth-child(7) {
  transform: rotate(108deg) translate(80px);
}
.stars:nth-child(8) {
  transform: rotate(126deg) translate(80px);
}
.stars:nth-child(9) {
  transform: rotate(144deg) translate(80px);
}
.stars:nth-child(10) {
  transform: rotate(162deg) translate(80px);
}
.stars:nth-child(11) {
  transform: rotate(180deg) translate(80px);
}
.stars:nth-child(12) {
  transform: rotate(198deg) translate(80px);
}
.stars:nth-child(13) {
  transform: rotate(216deg) translate(80px);
}
.stars:nth-child(14) {
  transform: rotate(234deg) translate(80px);
}
.stars:nth-child(15) {
  transform: rotate(252deg) translate(80px);
}
.stars:nth-child(16) {
  transform: rotate(270deg) translate(80px);
}
.stars:nth-child(17) {
  transform: rotate(288deg) translate(80px);
}
.stars:nth-child(18) {
  transform: rotate(306deg) translate(80px);
}
.stars:nth-child(19) {
  transform: rotate(324deg) translate(80px);
}
.stars:nth-child(20) {
  transform: rotate(342deg) translate(80px);
}

/* Circle animation delays (20 stars) */
.stars:nth-child(1) .circle {
  animation-delay: -0s;
}
.stars:nth-child(2) .circle {
  animation-delay: -0.25s;
}
.stars:nth-child(3) .circle {
  animation-delay: -0.5s;
}
.stars:nth-child(4) .circle {
  animation-delay: -0.75s;
}
.stars:nth-child(5) .circle {
  animation-delay: -1s;
}
.stars:nth-child(6) .circle {
  animation-delay: -1.25s;
}
.stars:nth-child(7) .circle {
  animation-delay: -1.5s;
}
.stars:nth-child(8) .circle {
  animation-delay: -1.75s;
}
.stars:nth-child(9) .circle {
  animation-delay: -2s;
}
.stars:nth-child(10) .circle {
  animation-delay: -2.25s;
}
.stars:nth-child(11) .circle {
  animation-delay: -2.5s;
}
.stars:nth-child(12) .circle {
  animation-delay: -2.75s;
}
.stars:nth-child(13) .circle {
  animation-delay: -3s;
}
.stars:nth-child(14) .circle {
  animation-delay: -3.25s;
}
.stars:nth-child(15) .circle {
  animation-delay: -3.5s;
}
.stars:nth-child(16) .circle {
  animation-delay: -3.75s;
}
.stars:nth-child(17) .circle {
  animation-delay: -4s;
}
.stars:nth-child(18) .circle {
  animation-delay: -4.25s;
}
.stars:nth-child(19) .circle {
  animation-delay: -4.5s;
}
.stars:nth-child(20) .circle {
  animation-delay: -4.75s;
}
